body{
       background-color:#8BA1BB;
       font-family:Arial;}

     div.content {
        background-color:white;
        margin:0px 8px 40px 8px;
        padding:0px 8px 20px 8px;
        /*min-width:350px;*/
        overflow: auto;
        }

     div.center , h1{
         text-align: center;
            margin-bottom:-10px;
            }

     p.category{
         text-align: center;
         background-color:black;
         color:white;
         display:inline-block;
         margin-left:30px;
         margin-top30px;
         margin-bottom:-10px;
         padding: 8px 20px;
         font-weight:bold;
         font-size:16px;}

     p.test{
          text-align: center;
          max-width: 400px;
          display: inline-block;
          font-size:16px;}

     div.test{
            text-align: center;}

        div.auto{
            height:1px;
            width:100px;
            background-color:black;
            margin-left:auto;
            margin-right:auto;
        }
        div.info{
            position:relative;
            text-align:center;

            }

        img{
              border-radius: 8px;
              display: block;
              min-height:200px;
              opject-fit:cover;
              width: 80%;
              margin-left: auto;
              margin-right: auto;
              margin-top:-20px;
              background-color: lightgray;
              display: block;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              }
        table.info{
               position: absolute;
               bottom: 0%;
               left: 50%;
               transform: translate(-50%, -50%);;
               width:80%;
               color:white;
               background-color:#6C829DC0;}
        table.info, td {
            text-align:center;
            border-radius:25px;
            vertical-align: top;
            text-size:16px;
        }


        div.col1, col2{
            width:100%;
            margin-top: 15px;
        }

        div.col5 h2 {
            text-align:center;
            text-transform:uppercase;
            font-size:16px;
            border-bottom:5px solid #6C829D;
            padding-bottom: 5px;
            margin-top: 14px;
        }



        div.col1{
            display: inline-block;

        }

        div.col2{
            float: right;
            font-size:16px;
            width:100%;
            margin-top: 1px;
            margin-left: px;
        }
        div.static p{
            text-align: center;
            font-size: 17px;
            border: 1px solid lightgray;
            padding : 8px 0 ;
            margin-top : 4px;
            margin-bottom: 0;
        }
        h2#center1 {
            margin-top : 26px;
            font-size : 16px;
        }
    table.instructure p.number {
        background-color: #6C829D;
        color: white;
        font-size: 14px;
        font-weight: bold;
        width: 30px;
        height:25px;
        text-align: center;
        padding-top: 8px;
        box-sizeing: border-box;
        border-radius: 50px;
        margin: 0;

    }
    table.instructure td.inst_step {
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 12px;


    }

    *{

    overflow: auto;
    }
    /* Desktop Style */
  @media only screen and (min-width: 600px) {
    div.content {
            background-color:white;
            margin:0px 10% 80px 10%;
            padding:30px;
            min-width:350px;
            }

  }
